<div class="container">

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active"><%= @title %></li>
    <span style="float: right"><%= link_to "Ranklist", scoreboard_path %></span>
  </ol>
  <div class = "panel panel-default panel-shadow">
    <div class="panel-heading">
      <div class="panel-title"><%= @title %></div>
    </div>
    <div class="panel-body table-responsive">
      <table class="table table-bordered dataTable table-hover " cellspacing="0" width="100%">
        <thead >
            <tr>
                <th style="color:#ffffff; background-color: #2c3e50;">Problem</th>
                <th style="color:#ffffff; background-color: #2c3e50;">Prob code</th>
                <th style="color:#ffffff; background-color: #2c3e50;">Successful Submissions</th>
                <th style="color:#ffffff; background-color: #2c3e50;">Accuracy</th>
                <th style="color:#ffffff; background-color: #2c3e50;">Languages</th>
            </tr>
        </thead>
        <tbody>
          <% @problem_hash[:problems].each_with_index do | problem, index |%>
          <tr>
            <td>
              <%=  link_to problem[:pname], problem_path(@ccode,problem[:pcode]) %>
            </td>
            <td>
              <%=  link_to @ccode , problem_path(@ccode,problem[:pcode]) %>
            </td>
            <td>
              <%= @problem_hash[:success_sub][index] %>
            </td>
            <td>
              <%= (@problem_hash[:success_sub][index].to_f/problem[:submissions_count].to_f).round(2) %>
            </td>
            <td>
              <% @problem_hash[:lang_data][index].each do |language| %>
                <%= language %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
 <%unless @announcements.blank?%>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Announcements</h3>
    </div>
    <div class="panel-body">
     <ul>
      <%@announcements.each do |announcement|%>
        <li><%=announcement.announcement%></li>
      <%end%>
    </ol>
    </div>
  </div>
 <%end%>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Description</h3>
    </div>
    <div class="panel-body">
      <%= @Details %>
    </div>
  </div>
</div>
<script charset="utf-8">
$(document).ready(function() {
  $('.dataTable').DataTable({
     "bFilter": false,
    "bInfo": false,
    aLengthMenu: [
        [10, 25, 50, 100, -1],
        [10, 25, 50, 100, "All"]
    ],
    "bScrollCollapse": true,
    "fnInitComplete": function() {
       this.css("visibility", "visible");
     },
    "bLengthChange": false,
    "paging": false
   })
});
</script>
