<script charset="utf-8">
  window._contest = "<%=@ccode %>"
  window._problem = "<%=@pcode %>"
</script>

<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active"> <a href=<%="/contest/#{@ccode}/"%>><%= @cname %></a> </li>
    <li class="active"><%= @title %></li>
  </ol>

  <div class="panel panel-default panel-shadow">
    <div class="panel-heading" >
      <div class="pull-left" style="width:50%">
        <h3 class="panel-title"><%= @title %></h3>
        <span class="panel-title "><%= @pcode %></span>
      </div>
        <div class="text-right pull-right" style="display:inline">
        <a href= <%="/submission/contest/#{@ccode}/#{@pcode}" %> class="btn btn-embossed btn-info">All Submissions</a>
        <% if user_signed_in? %>
            <a href= <%="/submission/contest/#{@ccode}/#{@pcode}/user/"+current_user.username %> class="btn btn-embossed btn-info">My Submissions</a>
        <% end %>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      <h5> Problem Statement </h5>
      <p><%=@statement.html_safe%></p>
      <hr/>
    <h3>Details</h3>
    <div class="container">
     <div class="row" style="width: 95%">
      <table class='table table-striped'>
        <tr>
          <td style="text-align: left;padding: 0.8%">Setter</td>
          <td style="text-align: left;padding: 0.8%"><a href=<%="/users/profile/#{@setter_username}"%>><%= @setter_username %></td>
        </tr>
        <tr>
          <td style="text-align: left;padding: 0.8%">Setter Name</td>
          <td style="text-align: left;padding: 0.8%"><%= @setter_name%></td>
        </tr>
        <tr>
          <td style="text-align: left;padding: 0.8%">Time limit</td>
          <td style="text-align: left;padding: 0.8%"><%= @time_limit.to_s%> s</td>
        </tr>
        <tr>
          <td style="text-align: left;padding: 0.8%">Source limit</td>
          <td style="text-align: left;padding: 0.8%"><%= @source_limit.to_s%> bytes</td>
        </tr>
       </table>
	    </div>
    </div>
  <hr/>
    <h3>Spell your Magical Code</h3>
      <% if user_signed_in? %>
        <div class="navbar navbar-inverse" style="border-radius:3px" >
          <div class="container-fluid">

            <div class="navbar-collapse ">
              <ul class="nav navbar-nav">
                <li >
                  <a href="javascript:void(0)" style="display: inline">
                  <select class="selectpicker select" id="mode">
                    <% @language_hash.each do | language | %>
                      <option style="color: black;" value=<%=('"'+language[:name]+'"').html_safe %>><%=language[:code]%></option>
                    <% end %>
                  </select>
                 </a>
                </li>
                <li class="dropdown">
                  <button  class=" dropdown-toggle" data-toggle="dropdown" type="button" style="background-color: #303641;border:none !important; margin-top:40%">
                  <i class="material-icons " style=" font-size: 24px;">settings</i>
                  </button>
                  <ul class="dropdown-menu" role="menu" id="theme" >
                    <li value="default"><a href="javascript:void(0)">Default</a></li>
                    <li value="material"><a href="javascript:void(0)">Material</a></li>
                    <li value="mdn-like"><a href="javascript:void(0)">MDN-like</a></li>
                    <li value="monokai"><a href="javascript:void(0)">Monokai</a></li>
                    <li value="solarized dark"><a href="javascript:void(0)">Solarized Dark</a></li>
                    <li value="solarized light"><a href="javascript:void(0)">Solarized Light</a></li>
                    <li >
                      <a href="javascript:void(0)" id="autocomplete">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox">
                            Autocomplete
                          </label>
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <button class="btn btn-embossed btn-success" style="margin-top:10%" id="submit_code" >Submit</button>
              </ul>
            </div>
          </div>
          <div class="codemirror" id="code_editor" style="border:1px solid #ddd !important;border-top:none !important;"></div>
        </div>
      <% end %>
    </div>
     <div class="panel-footer"> </div>
  </div>
</div>
