<%= devise_error_messages! %>
<div class="section section-full-screen">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="card card-signup">
						<div class="header header-danger text-center">
              <h4>Forgot your password?</h4>
						</div>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
						<div class="content">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="material-icons">email</i>
								</span>
								<div class="form-group is-empty">  <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email..." %><span class="material-input"></span></div>
							</div>
						</div>
						<div class="footer text-center">
                <%= f.submit "Send reset password instructions",  class: "btn btn-simple btn-danger btn-lg" %>
						</div>
          <% end %>
				</div>
        <%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
</div>
