
<div class="container">
  <ol class="breadcrumb">
    <li class="active">home</li>
  </ol>
  <% @Contests.each do |contest| %>
    <% unless contest[:data].empty? %>
      <div class = "panel panel-<%= contest[:panel]%> panel-shadow">
        <div class="panel-heading">
          <div class="panel-title"><%= contest[:name] %></div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table table-bordered dataTable table-hover " cellspacing="0" width="100%">
            <thead >
                <tr>
                    <th>Name</th>
                    <th>code</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
            </thead>
            <tbody>
              <% contest[:data].each do | contest_data |%>
              <tr>
                <td>
                  <%= link_to contest_data[:cname], contest_path(contest_data[:ccode]) %>
                </td>
                <td>
                  <%= link_to contest_data[:ccode], contest_path(contest_data[:ccode]) %>
                </td>
                <td>
                  <time class ="timeago" datetime="<%= contest_data[:start_time].localtime.to_datetime%>">
                    <%= contest_data[:start_time].localtime.to_datetime%>
                  </time>
                </td>
                <td>
                  <time class ="timeago" datetime="<%= contest_data[:end_time].localtime.to_datetime%>">
                    <%= contest_data[:end_time].localtime.to_datetime%>
                  </time>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<script charset="utf-8">
  $(document).ready(function() {
    $('.dataTable').DataTable({
      //  "bFilter": false,
      // "bInfo": false,
      aLengthMenu: [
          [10, 25, 50, 100, -1],
          [10, 25, 50, 100, "All"]
      ],
      "bScrollCollapse": true,
      "fnInitComplete": function() {
         this.css("visibility", "visible");
       },
      "bLengthChange": false
     })
  });
</script>
