<div class= "container">
  <div class = "table-responsive">
    <table class="table table-bordered datatable table-hover " cellspacing="0" width="100%">
      <thead "success">
          <tr>
              <th>User</th>
              <th>Date/Time</th>
              <th>Prob code</th>
              <th>Result</th>
              <th>Time</th>
              <th>Lang</th>
              <th>Sol</th>
          </tr>
      </thead>
      <tbody>
        <% @Submissions.each_with_index do |submission, index|%>
          <tr>
              <td><%= @Users[index][:name]%></td>
              <td>
                <time class ="timeago" datetime="<%= submission[:created_at].localtime.to_datetime%>">
                  <%= submission[:created_at].localtime.to_datetime%>
                </time>
              </td>
              <td><%= @Problems[index][:name] %></td>
              <td data-id ="<%= submission[:_id]%>" data-status="<%= submission[:status_code] %>">
                <% ext = '.png' %>
                <% ext = '.gif' if submission[:status_code] == 'PE' %>
                  <img src="/icons/<%= submission[:status_code]%><%= ext%>" alt="<%= submission[:status_code]%>" width="23" height="23" />
                    <figcaption><%= submission[:status_code] if submission[:status_code] != 'RTE'%></figcaption>
                    <figcaption><%= submission[:error_desc] if submission[:status_code] == 'RTE'%></figcaption>
              </td>
              <td>
                <% if submission[:status_code] == 'CE' || submission[:status_code] == 'PE' %>
                  <%= "-" %>
                 <% else %>
                   <%= submission[:time_taken] %>
                 <% end %>
              </td>
              <td><%= submission.language[:lang_code]%></td>
              <td class = "submission-btn">
                <div class="btn btn-primary btn-sm">
                  view
                </div>
              </td>
          </tr>
          <% end %>
      </tbody>
    </table>
    <%= paginate @Submissions , theme: 'twitter-bootstrap-3',
                    pagination_class: "pagination pagination-inverse" %>

  </div>
</div
