<div class= "container ">

  <ol class="breadcrumb bc-1">
      <li> <a href="/"></i>Home</a> </li>
      <li class="active"> <a href="/submission"><%= @title %> </a> </li>
      <% unless @cname.nil? %>
          <li class="active"> <a href=<%="/contests/#{@ccode}/"%>><%= @cname %></a> </li>
      <% end %>
      <% unless @pname.nil? %>
          <li class="active"> <a href=<%="/contests/#{@ccode}/#{@pcode}"%>><%= @pcode %></a></li>
      <% end %>
      <% unless @username.nil? %>
          <li class="active"> <a href= <%="/users/profile/#{@username}"%>><%= @uname %></a></li>
      <% end %>
  </ol>

  <div class = "panel panel-default panel-shadow">
    <div class="panel-heading">
      <div class="panel-title">Submissions</div>
    </div>
    <div class="panel-body table-responsive">
      <table class="table table-bordered datatable-submission table-hover " cellspacing="0" width="100%">
        <thead >
            <tr>
                <th style="color:#ffffff; background-color: #2c3e50;">User</th>
                <th style="color:#ffffff; background-color: #2c3e50;">Date/Time</th>
                <th style="color:#ffffff; background-color: #2c3e50;">Prob code</th>
                <th style="color:#ffffff; background-color: #2c3e50;">Result</th>
                <th style="color:#ffffff; background-color: #2c3e50;">Time</th>
                <th style="color:#ffffff; background-color: #2c3e50;">Lang</th>
                <th style="color:#ffffff; background-color: #2c3e50;">Sol</th>
            </tr>
        </thead>
        <tbody>
          <% @Submissions.each_with_index do |submission, index|%>
            <tr>
                <td class = "user" ><%= @Users[index][:name]%></td>
                <td>
                  <time class ="timeago" datetime="<%= submission[:created_at].localtime.to_datetime%>">
                    <%= submission[:created_at].localtime.to_datetime%>
                  </time>
                </td>
                <td class = "problem"><%= @Problems[index][:code] %></td>
                <td class="submission_status" data-id ="<%= submission[:_id]%>" data-status="<%= submission[:status_code] %>">
                  <% ext = '.png' %>
                  <% ext = '.gif' if submission[:status_code] == 'PE' %>
                    <img src="/icons/<%= submission[:status_code]%><%= ext%>" alt="<%= submission[:status_code]%>" width="23" height="23" />
                      <figcaption><%= submission[:status_code] if submission[:status_code] != 'RTE'%></figcaption>
                      <figcaption><%= submission[:error_desc] if submission[:status_code] == 'RTE'%></figcaption>
                </td>
                <td>
                  <% if submission[:status_code] == 'CE' || submission[:status_code] == 'PE' %>
                    <%= "-" %>
                   <% else %>
                     <%= submission[:time_taken] %>
                   <% end %>
                </td>
                <td><%= submission.language[:lang_code]%></td>
                <td class = "submission-btn">
                  <% perm = "disabled" %>
                  <% if user_signed_in? %>
                    <% if @Users[index][:user_id] == current_user[:_id] || current_user.admin == true %>
                      <% perm = "" %>
                    <% end %>
                  <% end %>
                  <div class="btn btn-inverse btn-sm rippler rippler-default <%= perm %>" data-get-id="<%= submission[:_id]%>" style="border-radius:3px">
                    view
                  </div>
                </td>
            </tr>
            <% end %>
        </tbody>
      </table>
      <div class="pagination-right">
        <%= paginate @Submissions , theme: 'twitter-bootstrap-3' %>
      </div>
    </div>

  </div>
</div>

<div class="modal fade custom_width" id="submission_modal" role="dialog" >
    <div class="modal-dialog modal-lg" role="document" style="width: 60%">
        <div class="modal-content">
            <div class="modal-header" style="border-radius: 3px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="font-size: 18px" class="modal-title"></h4>
            </div>
            <div class="modal-body" id= "code-body" style="border-radius: 3px;">
              Loading ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-inverse rippler rippler-default btn-sm" data-dismiss="modal" style="border-radius:3px">Close</button>
            </div>
        </div>
    </div>
</div>
