<div class="container">
	<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active"><%= @username %></li>
  </ol>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-info panel-shadow">
				<div class="panel-heading">
					<h3 class="panel-title">Profile</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-2">
							<% unless @image.blank? %>
							<img src="<%=@image%>" alt="" style="max-width:200px; max-height:200px"/>
							<% end %>
						</div>
					</div>
					<div >
						<h5 style="font-weight:20px; font-size:25px" ><%=@name%></h5 >
					</div>
					<hr class="divider">
					<table class='table table-responsive'>
						<tbody>
							<tr >
								<td style="max-width: 20px;">
									<div style="text-align: left;">Username: @<%=@username%></div>
								</td>
							</tr>
							<tr>
								<td>
									<div style="text-align: left;">Institution: <%=@college%></div>
								</td>
							</tr>
							<tr>
								<td>
									<div style="text-align: left;">Problem solved: <%= @total_currect %></div>
								</td>
							</tr>
							<tr>
								<td>
									<div style="text-align: left;">Total Submissions: <%= @total_submissions %></div>
								</td>
							</tr>
							<tr>
								<td>
									<div style="text-align: left;"><%= link_to "submission history", submission_user_path(@username) %></div>
								</td>
							</tr>
						</tbody>
					 </table>
				</div>
			</div>
		</div>
		<% if @total_currect > 0 %>
			<div class="col-sm-8">
				<div class="panel panel-success">
					<div class="panel-heading">
							<h3 class="panel-title">Solved</h3>
					</div>
					<div class="panel-body">
						<table class='table table-responsive table-hover'>
							<tbody>
								<%@solved.each do |ccode,problems|%>
								<tr >
									<td style="max-width: 20px;">
											<div style="text-align: left;">	<%= link_to ccode, contest_path(ccode)%> </div>
									</td>
									<td>
											<div style="text-align: left;">
												<% problems.each do |pcode| %>
													<%= link_to pcode,  problem_path(ccode,pcode)%>
												<% end %>
											</div>
									</td>
								</tr>
								<%end%>
							</tbody>
						 </table>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
