<h1><%=@user.first[:name]%>'s Profile</h1>
<h8>@<%=@user.first[:username]%></h8>
<p><%=@user.first[:college]%></p>
<hr/>

<h4>Solved Problems</h4>
<table class="table-condensed table-bordered">
	<tr><td>Contest</td><td>Problems</td></tr>
<%@solved_problem.each do |s|%>
	<tr>
	<td align="center"><%=s[:contest_code]%></td>
	<td align="center"><a href="/contest/<%=s[:contest_code]%>/<%= s[:problem_code]%>"><%= s[:problem_code]%></a></td>
	</tr>
<%end%>
</table>
