
  	<%= form_tag("/users/update_form", method: "post") do %>
  		<div class="field">
    		Username<br/>
    		<%=text_field_tag :username %><span id="status"></span>
        </div>

  		Name<br/>
        <%=text_field_tag :name %>
      </div>

  		<div class="field">
    		College<br />
    		<%= text_field_tag :college %>
  		</div>

  		<%=submit_tag("Fill") %>
   	<% end %>
