<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-xs-12 col-sm-12 col-md-8">
      <div class="panel panel-warning">
        <div class="panel-heading ">
          <div class="alert-icon">
            <h3 class="panel-title "><i class="material-icons"></i> Hey, fill the form </h3>
          </div>
        </div>
        <div class="panel-body">
            <div class="row">
              <%= form_tag("/users/update_form", method: "post") do %>
              <div class="col-sm-4">
                <%if @user.first[:username].nil? || @user.first[:username].blank?%>
                <div class="form-group label-floating">
                  <label class="control-label"> Username</label>
                  <input type="text" name="username" id="username" class="form-control">
                  <div class="material-input"></div>

                </div>

                <%else%>
                <div class="form-group label-floating">
                  <label class="control-label"> Username</label>
                  <input type="text" name="username" class="form-control" value="<%=@user.first[:username]%>" disabled/>
                  <div class="material-input"></div>
                </div>
                <%end%>
              </div>
              <div class="col-sm-4" id="status"></div>
            </div>
            <div class="row">
              <div class=" col-sm-4">
                <div class="form-group label-floating">
                  <label class="control-label"> Name </label>
                  <input type="text" name="name" class="form-control" value="<%=@user.first[:name]%>" />
                  <div class="material-input"></div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group label-floating ">
                  <label class="control-label"> Institution </label>
                  <input type="text" name="college" class="form-control" value="<%=@user.first[:college]%>" />
                  <div class="material-input"></div>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col-sm-4">
                  <%=submit_tag "Update",class: " btn btn-success"%>
                </div>
              </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
