<nav class="navbar navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">CodeCracker</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav ">
      <li class="<%= " active" if @home_page%>"><a href="/" class="rippler rippler-default"><i class="material-icons">home</i>Home</a></li>
      <li class="<%= " active" if @submission_page%>"><a href="/submission" class="rippler rippler-default"><i class="material-icons">dashboard</i>Submissions</a></li>
    </ul>
    <div class="navbar-right">
        <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <% if can? :manage, :all %>
              <li>
                  <a href="/sidekiq"><i class="material-icons">extension</i> Judge Status</a>
              </li>
              <li>
                  <a href="/admin"><i class="material-icons">https</i>Admin </a>
              </li>
          <% elsif can? :modify, Contest %>
              <li>
                  <a href="/admin/contest"><i class="material-icons">https</i>Admin </a>
              </li>
          <% end %>
          <% if !current_user[:username].blank?  %>
            <!-- true -->
          <li class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id = "user" style="text-transform:none"> <i class="material-icons">account_circle</i> <%= current_user[:username] %><b class="caret"></b></a>
            <span class="dropdown-arrow"></span>
            <ul class="dropdown-menu">
              <li class="<%= "active" if @profile_page%>"><a href=<%= "/users/profile/#{current_user[:username]}"%>><i class="material-icons">code</i>Profile</a></li>
              <li><a href=<%="/users/edit/"%>><i class="material-icons">border_color</i>Edit Profile</a></li>
              <li class="<%="active" if @submission_page%>"><a href=<%= "/submission/user/#{current_user[:username]}"%>><i class="material-icons">dashboard</i>Submission History </a></li>
              <li><%= link_to('<i class="material-icons">exit_to_app</i> Logout'.html_safe, destroy_user_session_path, :method => :delete) %></li>
            </ul>
          </li>
	         <% else%>
              <li><%= link_to('<i class="material-icons">exit_to_app</i> Logout'.html_safe, destroy_user_session_path, :method => :delete) %></li>
          <% end %>
         <% else %>
         <li>
           <%= link_to('<i class="material-icons">account_circle</i> Login'.html_safe, new_user_session_path)  %>
         </li>
         <li>
           <%= link_to '<i class="material-icons">assignment_ind</i> Register'.html_safe, new_user_registration_path %>
         </li>
         <% end %>
      </ul>
    </div>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
