<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/head' %>
    <%= yield :styles %>
    <%= csrf_meta_tags %>
    <%= include_gon(:init => true) %>
  </head>

  <body class="page-body page-fade-only">
    <div class="page-container" style="min-height:92vh">
      <%= render partial: 'layouts/nav' %>
      <div class="main-content" >
        <%= yield %>
      </div>
      <%= yield :scripts %>
    </div>
    <%= render 'layouts/scripts' %>
     <%= render partial: 'layouts/footer' %>
    </body>
</html>
